$black-0: #000000;
$black-1: #303030;

$white-0: #ffffff;

$grey-0: hsl(0, 0%, 19%);
$grey-1: hsl(0, 0%, 24%);
$grey-2: hsl(0, 0%, 25%);
$grey-3: hsl(0, 0%, 31%);
$grey-4: hsl(0, 0%, 41%);
$grey-5: hsl(0, 0%, 53%);
$grey-6: hsl(0, 0%, 72%);
$grey-7: hsl(0, 0%, 81%);
$grey-8: hsl(0, 0%, 92%);
$grey-9: hsl(0, 0%, 95%);

$green-1: hsl(130, 84%, 17%);
$green-2: hsl(130, 75%, 28%);
$green-3: hsl(130, 78%, 30%);
$green-4: hsl(130, 78%, 34%);
$green-5: hsl(130, 80%, 37%);
$green-6: hsl(130, 76%, 37%);
$green-7: hsl(130, 78%, 42%);

$red-1: hsl(10, 84%, 24%);
$red-2: hsl(10, 75%, 31%);
$red-3: hsl(10, 78%, 34%);
$red-4: hsl(10, 78%, 38%);
$red-5: hsl(10, 80%, 44%);
$red-6: hsl(10, 76%, 47%);
$red-7: hsl(10, 78%, 52%);

$blue-1: hsl(202, 84%, 21%);
$blue-2: hsl(202, 83%, 32%);
$blue-3: hsl(202, 86%, 34%);
$blue-4: hsl(202, 86%, 38%);
$blue-5: hsl(202, 92%, 43%);
$blue-6: hsl(202, 88%, 43%);
$blue-7: hsl(202, 94%, 47%);
// $blue-8:
$blue-9: hsl(202, 99%, 46%);

$page-padding: 60px;
$page-padding-top: $page-padding * 2;
